html {
    background-color: gray;
    font-family: 'Lato', Helvetica, sans-serif;
    color: #fff;
}
body {
  padding-top: 150px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  .cloud {
    position: relative;
    right: 130px;
    width: 100px;
    height: 100px;
    float: left;
    z-index: 1;
  }
  .city {
    height: 480px;
    width: 900px;
  }
  .top-nav {
    position: fixed;
    width: 80%;
    color: #f1f1f1;
    padding: 30px;
    top: 0;
    right: 0;
  }
  .top-nav-li{
    float: right;
    list-style-type: none;
  }

  li a {
    font-size: 40px;
    padding: 15px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 50px;
    opacity: 0.7;
  }
  a:hover {
    background: #ddd;
    color: black;
  }
  .personal-link {
    border-radius: 20px;
  }
  .personal-link:hover {
    text-decoration: none;
    border-radius: 20px;
    background: #ddd;
    color: black;
  }
  .personal-link:visited {
    text-decoration: none;
    color:  #fff;
  }
  .home-content {
    margin-left: 50px;
    width: 80%;
    margin-right: 50px;
  }
  .home-content ol {
    margin-left: 100px;
    font-size: 30px;
  }
  .right-list {
    top: 100px;
    margin-right: 50px;
    float: left;
  }
  .me {
    width: 500px;
    height: 500px;
  }