html {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #fff;
    background-color: rgb(102, 102, 102);
}
body {
  padding-top: 150px;
}
.container {
  z-index: 1;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  .cloud {
    position: relative;
    right: 130px;
    width: 100px;
    height: 100px;
    float: left;
    z-index: 1;
  }
  .city {
    height: 350x;
    width: 400px;
  }
  .top-nav {
    position: fixed;
    width: 80%;
    color: #f1f1f1;
    padding: 30px;
    top: 0;
    right: 0;
  }
  .top-nav-li{
    float: right;
    list-style-type: none;
  }

  .top-nav-a {
    font-size: 40px;
    padding: 15px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    margin-left: 50px;
    opacity: 0.7;
  }
  .top-nav-a:hover {
    background: #ddd;
    color: black;
  }
  .personal-link {
    border-radius: 20px;
    color: #fff;
  }
  .personal-link:hover {
    text-decoration: none;
    border-radius: 20px;
    background: #ddd;
    color: black;
  }
  .personal-link:visited {
    text-decoration: none;
    color:  #fff;
  }
  .home-content {
    margin-left: 50px;
    width: 80%;
    margin-right: 50px;
  }
  .left-list {
    top: 150px;

    margin-right: 50px;
    float: left;
  }
  .me {
    width: 500px;
    height: 500px;
  }
  .class-schedule {
    float: left;
  }
.schedule-table, th, td{
  border: 2px solid #fff;
}